.blog {
    .blog__post {
        @include clearfix;

        &:not(:last-child) {
            margin-bottom: 60px;
        }

        .btn-read-more {
            font-size: 16px;
            margin-top: 23px;
            display: inline-block;
        }

        &:not(.single__post) {
            .post__actions {
                width: 8%;
                float: left;
                text-align: center;
                padding: 15px 10px;
                border-bottom: 1px solid #eee;
            }

            .post__info {
                width: 92%;
                float: left;
                padding-left: 4%;
                position: relative;
                border-left: 1px solid #eee;

                &:before {
                    top: 60px;
                    left: -3px;
                    content: "";
                    width: 5px;
                    height: 12px;
                    position: absolute;
                    background-color: $color__secondary;
                }
            }
        }

        .post__title {
            font-size: 30px;
            margin-bottom: 30px;
        }

        .post__thumbnail {
            margin-bottom: 40px;
        }

        .post__excerpt {
            p {
                margin-bottom: 15px;
            }
        }

        .post__share {
            font-size: 14px;
            font-weight: 600;
        }
    }


    .block__paginator {
        text-align: center;

        .paginator {
            display: inline-block;
        }
    }

    .post__comments {
        .field__label {
            margin-bottom: 30px;
        }

        strong {
            font-weight: bold;
            color: $color__secondary;
        }
    }

    .block__categories {
        li {
            &:not(:last-child) {
                margin-bottom: 18px;
            }
        }

        a {
            display: block;
            font-size: 16px;
            font-weight: 400;
            color: $color__primary;
        }
    }

    .block__newsletter {
        label {
            display: block;
            margin: 25px 0;
        }

        .btn-primary {
            font-weight: 600;
        }
    }

    .block__search {
        position: relative;
        margin-bottom: 50px;

        .btn-search {
            top: 1px;
            right: 1px;
            position: absolute;
            height: 96%;
            font-weight: 300;
            font-size: 22px;
            width: 50px;
            background-color: $color__soft-grey;
            border: 0;

            &:before {
                background: url(../../images/spritesheet.png) center center no-repeat;
                background-position: -221px -183px;
                display: inline-block;
                position: relative;
                margin-top: 5px;
                height: 24px;
                width: 24px;
                content: "";
            }
        }
    }

    .blog__listing {
        position: relative;
        border-right: 1px solid $color__soft-grey;
    }

    .block__aside {
        position: relative;

        &:before {
            top: 10px;
            left: -35px;
            content: "";
            width: 12px;
            height: 5px;
            position: absolute;
            background-color: $color__secondary;
        }
    }

    &.blog__single {
        .blog__listing {
            border-right: 0;
        }
    }
}