.block__contact {
    .block__section {
        margin-top: 0;
        border-bottom: 0;
        position: relative;
        padding: 70px 0 25px;
        background-color: $color__soft-grey;

        &:before {
            left: 0;
            top: 145px;
            content: "";
            width: 105%;
            height: 100%;
            position: absolute;
            transform: rotate(5deg);
            -moz-transform: rotate(5deg);
            -webkit-transform: rotate(5deg);
            background-color: $color__soft-grey;
        }
    }

    .contact__info,
    .contact__form {
        padding: 40px 65px;

        @media (max-width: $screen-sm) {
            padding: 20px 25px;
        }

        .section__title {
            position: relative;
            margin-bottom: 65px;

            h2 {
                z-index: 1;
                font-weight: 300;
                font-size: 30px;
                position: relative;
                text-align: center;
                font-family: $secondaryFont;

                span {
                    padding: 0 10px;
                    display: inline-block;
                }

                &:before {
                    left: 0;
                    top: 50%;
                    z-index: -1;
                    height: 1px;
                    width: 100%;
                    content: "";
                    position: absolute;
                }
            }
        }
    }

    .contact__form {
        background-color: $color__white;

        .section__title {
            h2 {
                background-color: $color__white;

                span {
                    background-color: $color__white;
                }

                &:before {
                    background-color: $color__soft-grey;
                }
            }
        }
    }

    .contact__info {
        color: $color__white;
        background-color: $color__primary;

        .section__title {
            h2 {
                color: $color__white;
                background-color: $color__primary;

                span {
                    background-color: $color__primary;
                }

                &:before {
                    background-color: $color__white;
                }
            }
        }

        .hotel__list {
            li {
                font-size: 14px;
                line-height: 1.6;
                margin-bottom: 30px;
            }

            h3 {
                font-size: 20px;
                font-family: $secondaryFont;
                margin-bottom: 10px;
                line-height: 24px;
            }

            a {
                display: block;
                color: $color__white;
            }

            address {
                font-style: normal;
            }
        }

        .contact__actions {
            padding-top: 25px;
            border-top: 1px solid $color__white;

            label {
                margin-right: 6px;
                font-weight: 600;
                font-size: 14px;
                margin-right: 6px;
                font-family: $secondaryFont;
            }
        }
    }
}

.contact__footer {
    .main__footer {
        margin-top: 0;
    }
}

.contact__select {
    color: $color__primary;
    font-size: 20px;
    font-family: $secondaryFont;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact__file {
    display: flex;
    align-items: baseline;

    label {
        font-size: 14px;
        color: #444444;
        text-transform: initial!important;
        margin-right: 10px;
    }
}

.contact__submit {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    margin-top: 40px;

    &-number {
        display: flex;
        align-items: baseline;
        
        input {
            width: 100px;
            margin-left: 25px;
            margin-right: 32px;
        }
    }
    
}

.block__map {
    .map__contact {
        height: 400px;
        background-color: #ccc;
    }

    .footer_line {
        z-index: -1;
        position: relative;

        &:before {
            left: 0;
            top: -150px;
            content: "";
            width: 105%;
            height: 480px;
            z-index: -1;
            position: absolute;
            transform: rotate(-5deg);
            -moz-transform: rotate(-5deg);
            -webkit-transform: rotate(-5deg);
            background-color: #252935;
        }
    }
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn__file {
    padding: 7px 10px;
    font-weight: bold;
    background-color: $color__primary;
    color: $color__white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    display: block;
  }