.main__banner {
    margin-bottom: 40px;

    .banner_wrapper {
        width: 100%;
        height: 700px;
        position: relative;
        background: url(../../images/home/banner-home.png) center center no-repeat;
        background-size: cover;
    }

    .banner__description {
        left: 0;
        bottom: 0;
        position: relative;
        text-align: center;
        position: absolute;
        padding: 50px 65px 80px;
        background-color: #fff;
        max-width: 805px;
        width: 80%;

        &:before {
            top: -15px;
            left: 50%;
            content: "";
            width: 30px;
            height: 30px;
            position: absolute;
            background-color: $color__primary;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
        }

        .banner__title {
            font-size: 28px;
            margin-bottom: 45px;
            font-weight: normal;
            color: $color__primary;
            font-family: $secondaryFont;
        }

        .banner__subtitle {
            font-size: 18px;
        }
    }

    .banner__actions {
        bottom: 0;
        right: 0;
        width: 28%;
        position: absolute;
    }
}

.block__technical-features {
    padding: 75px 0;
    margin-bottom: 40px;
    border-top: 1px solid #eee;

    .block__featured-item {
        text-align: center;

        &:not(:last-child) {
            border-right: 1px solid #eee;
        }

        .icon {
            margin-bottom: 40px;
        }

        .block__subtitle {
            font-size: 29px;
            line-height: 1.2;
            font-family: $secondaryFont;
        }
    }
}

.block__main-features {
    .main-features__wrapper {
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #f0f0f0;
    }

    .carousel__features {
        .owl-nav {
            bottom: 0;
            width: 100%;
            position: absolute;
        }
    }

    .main-features__inner-wrapper {
        background-color: #f0f0f0;
    }

    .main-features__images {
        a {
            float: left;
            overflow: hidden;
            position: relative;

            &:before {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                content: "";
                position: absolute;
                background-color: rgba($color__black, 0.8);

                @include transition(all 0.5s);
            }

            &:hover {
                &:before {
                    opacity: .8;
                }

                img {
                    transform: scale(1.1);
                }
            }

            img {
                float: left;

                @include transition(all 0.5s);
            }
        }
    }

    .block__title {
        font-size: 28px;
        font-weight: normal;
        margin-bottom: 45px;
        text-transform: uppercase;
        font-family: $secondaryFont;
    }
}

.block__testimonials {
    height: 800px;
    overflow: hidden;
    position: relative;
    background: url(../../images/home/depoimento.png) center center no-repeat;
    background-size: cover;

    .testimonials_wrapper {
        position: relative;
        margin-right: -15px;
        overflow: hidden;

        .owl-dots {
            right: 0;
            bottom: 0;
            float: right;
            width: 100%;
            max-width: 730px;
            margin-bottom: 25px;
            position: absolute;
        }
    }

    .testimonials__item {
        width: 100%;
        float: right;
        max-width: 730px;
        text-align: center;
        padding: 80px 135px;
        background-color: $color__white;

        > i {
            font-size: 82px;
            color: $color__primary;
        }

        .testimonials__content {
            font-size: 16px;
            margin-top: 50px;
            margin-bottom: 40px;
        }

        .testimonials__author {
            font-size: 22px;
            color: $color__primary;
            font-family: $secondaryFont;
        }
    }
}

.aside__contact-us {
    height: 140px;
    margin: 30px 0;

    .aside__image {
        display: block;
        text-align: center;
    }
}

.block__blog {
    margin-top: 60px;
    padding-bottom: 0;

    .blog__post {
        margin-bottom: 30px;
    }

    .post__info {
        position: relative;
    }

    header {
        text-align: center;

        .section__title {
            padding-top: 80px;
            margin-bottom: 0;
            border-top: 1px solid $color__soft-grey;
        }

        .section__subtitle {
            margin-bottom: 50px;
        }
    }

    .post__thumbnail {
        display: block;

        @include transition(all 0.5s);

        img {
            height: auto;
            max-width: 100%;
        }

        &:hover {
            opacity: .8;
        }
    }

    .post__title {
        font-size: 16px;
        overflow: hidden;
        max-height: 60px;
        line-height: 1.2;
        margin-bottom: 16px;
        font-weight: 800;
    }

    .post__details {
        padding: 20px 0;
    }

    .post__excerpt {
        height: 130px;
        overflow: hidden;
        font-size: 16px;
        line-height: 1.2;
    }

    .post__actions {
        text-align: left;
    }
}