.block__hotels-v2 {
    .hotel__item {
        padding: 40px 50px 115px;
        background-color: #f5f5f5;

        @include clearfix;

        .hotel__name {
            padding-top: 30px;
            font-weight: 300;
            font-size: 35px;
            margin-bottom: 60px;
            font-family: "Cinzel";
            color: $color__primary;
        }

        .hotel__subtitle {
            font-size: 22px;
            font-family: "Cinzel";
        }

        .hotel__description {
            margin-top: 20px;

            p {
                line-height: 20px;
                margin-bottom: 40px;
            }
        }

        .hotel__thumbnail {
            position: relative;
            display: inline-block;

            &:before {
                top: 40px;
                left: -40px;
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                border: 3px solid $color__terciary;
            }
        }

        .item__link {
            font-weight: 700;
            font-size: 17px;
            color: $color__primary;

            > i {
                font-size: 26px;
                margin-right: 10px;
            }
        }

        .btn-call-to-book {
            font-size: 25px;
            height: 110px;
            line-height: 110px;
            display: inline-block;
            max-width: 360px;
            width: 100%;
        }
    }

    .hotels__listing {
        > div {
            > div {
                &:not(:first-of-type) {
                    .hotel__item {
                        margin-top: 45px;
                    }
                }
            }
        }
    }
}

.hotel__internal {
    .hotel__main-slider {
        margin-bottom: 40px;
    }

    .btn-submit {
        background-color: $color__primary;
    }

    .hotel__details {
        margin-bottom: 45px;

        @include clearfix;

        @media (min-width: $screen-sm) {
            margin-bottom: 115px;
        }
    }

    .hotel__info {
        padding: 0 40px 40px;

        .hotel__title {
            font-size: 45px;
            position: relative;
            margin-bottom: 48px;
            font-weight: normal;
            color: $color__primary;
            font-family: $secondaryFont;

            &:before {
                content: "";
                width: 25px;
                height: 25px;
                margin-right: 25px;
                display: inline-block;
                background-color: $color__primary;
                transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
        }

        .hotel__subtitle {
            font-size: 22px;
            margin-bottom: 70px;
            font-weight: normal;
            font-family: $secondaryFont;
        }

        .hotel__description {
            @media (min-width: $screen-sm) {
                columns: 2;
            }
        }
    }

    .hotel__call-action {
        display: block;
        max-width: 365px;
        position: relative;
        color: $color__white;
        padding: 20px 40px 20px 50px;
        background-color: $color__terciary;

        @media (min-width: $screen-sm) {
            padding: 20px 38px 20px 90px;
        }

        &:before {
            top: 4%;
            left: 4%;
            width: 92%;
            height: 92%;
            content: "";
            position: absolute;
            pointer-events: none;
            border: 1px solid $color__white;
        }

        .icon__calendar {
            left: 35px;
            margin-top: 2px;
            position: absolute;
        }

        &.full--version {
            max-width: 100%;
            padding: 40px 60px 42px;

            &:before {
                top: 19px;
                left: 15px;
                width: 98%;
                height: 81%;
                content: "";
                position: absolute;
                pointer-events: none;
            }

            .icon__calendar {
                left: 0;
                margin-top: 0;
                position: relative;
                top: 6px;
                margin-right: 18px;
            }

            @media (max-width: $screen-md) {
                &:before {
                    width: 96%;
                    height: 92%;
                }
            }

            @media (max-width: $screen-sm) {
                max-width: 100%;
                padding: 40px;

                .qty_options {
                    label {
                        float: left;
                        margin-right: 10%;
                    }
                }
            }

            @media (max-width: $screen-xs) {
                &:before {
                    width: 93%;
                }
            }

            @media (min-width: $screen-md) {
                label {
                    float: left;
                    margin-right: 8%;
                }
            }
        }

        fieldset {
            border: 0;
        }

        label {
            display: block;
            margin-bottom: 19px;
        }

        input {
            height: 42px;
            color: $color__black;
            background-color: $color__white;
        }

        h3 {
            font-size: 22px;
            padding: 17px 0 25px;
            text-transform: uppercase;
        }

        .btn-submit {
            margin-bottom: 20px;
        }

        .qty_options {
            input {
                width: 36px;
                margin-right: 25px;
            }
        }
    }

    .carousel__hotel-features {

        li {
            overflow: hidden;
        }
        
        img {
            transition: transform .3s;
            -webkit-transition: transform .3s;
            -moz-transition: transform .3s;
        }

        &.owl-theme.owl-carousel {
            .owl-nav {
                top: 0;
                right: 34%;
                opacity: 0;
                visibility: hidden;

                transition: all .5s;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                .owl-prev,
                .owl-next {
                    color: $color__white;
                    background: none;
                }
            }

            &:hover {
                img {
                    transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                }

                .carousel__content,
                .owl-nav {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .carousel__content {
            top: 0;
            left: 50%;
            bottom: 0;
            width: 100%;
            max-width: 365px;
            z-index: 1;
            font-size: 35px;
            color: $color__white;
            font-family: $secondaryFont;
            position: absolute;
            display: flex;
            opacity: 0;
            visibility: hidden;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin-left: calc(-365px/2);
            background-color: rgba(#145063, 0.8);

            transition: all .5s;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;

            &:before {
                top: -200px;
                left: -32px;
                width: 73%;
                height: 131%;
                content: "";
                z-index: -1;
                position: absolute;
                background-color: rgba(darken($color__secondary, 10%), 0.6);
                transform: rotate(222deg);
                -webkit-transform: rotate(222deg);
                -moz-transform: rotate(222deg);
            }
        }
    }

    .block__technical-features {
        .block__featured-item {
            .block__subtitle {
                font-size: 21px;
            }

            .icon__minibar {
                top: -5px;
            }
        }
    }
}

.map__container {
    height: 700px;
    margin-top: 20px;
    background-color: #DDD;
}