.block__partners {
    .partner {
        padding: 30px;
        margin-bottom: 35px;
        background-color: #f5f5f5;

        .partner__logo {
            margin-bottom: 15px;
        }

        .partner__title {
            font-size: 35px;
            line-height: 42px;
            font-weight: normal;
            margin-bottom: 25px;
            color: $color__secondary;
            font-family: $secondaryFont;
        }

        .partner__description {
            p {
                font-size: 17px;
                line-height: 1.2;
            }
        }

        .contact__list {
            margin-top: 30px;

            li {
                color: $color__primary;

                &:not(:last-child){
                    margin-bottom: 25px;
                }
            }

            a {
                color: $color__primary;
            }

            .icon {
                vertical-align: bottom;
                margin-right: 15px;
            }
        }
    }
}