.block__policy {
	.policy__section {
		font-size: 25px;
		font-weight: 300;
		margin-bottom: 50px;
		color: $color__medium-grey;
		font-family: $secondaryFont;
	}

	.policy__info {
		margin-bottom: 60px;
	}
	
	.policy__links {
		a {
			display: block;
			font-weight: 600;
			font-size: 17px;
			margin-bottom: 10px;
			text-transform: uppercase;

			color: $color__primary;
			font-family: $secondaryFont;

			&:before {
				top: 5px;
				font-size: 28px;
				font-weight: 300;
				content: "\f105";
				position: relative;
				margin-right: 15px;
				color: $color__primary;

				font-family:"fontAwesome";
			}
		}
	}

	.policy__cancel-methods {
		.cancel__method {
			h3 {
				font-family: $secondaryFont;
				color: $color__secondary;
				margin-bottom: 13px;
				font-size: 20px;
			}

			p {
				margin-bottom: 15px;
			}
		}
	}

	.policy__list {
		margin-bottom: 40px;

		li {
			position: relative;
			margin-bottom: 15px;

			&:before {
				content: "";
				width: 10px;
				height: 10px;
				margin-right: 15px;
				display: inline-block;
				background-color: $color__primary;

				transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
			}
		}
	}
}