*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  color: #474747;
  font-family: "Open Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0 auto; }

main {
  overflow: hidden; }

ul {
  list-style: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  color: #474747;
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  a:hover {
    opacity: .75; }

a:active,
a:hover {
  outline: 0;
  text-decoration: none; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-size: 16px;
  font-family: monospace, monospace; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (<none>)
 * Config saved to config.json and <none>
 */
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.cclear {
  clear: both; }

.screen-readers {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.align-flex {
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .align-flex {
      flex-direction: column; } }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
@media (min-width: 1461px) {
  .container {
    width: 1460px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0); }

.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90); }

.tooltip.top {
  margin-top: -3px;
  padding: 5px 0; }

.tooltip.right {
  margin-left: 3px;
  padding: 0 5px; }

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0; }

.tooltip.left {
  margin-left: -3px;
  padding: 0 5px; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border-radius: 4px; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000; }

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000; }

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000; }

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000; }

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000; }

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000; }

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000; }

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000; }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }
.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }
.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }
@media print {
  .hidden-print {
    display: none !important; } }
.main-header {
  padding: 20px 0; }
  .main-header .header__logo img {
    max-width: none; }
  @media (min-width: 769px) {
    .main-header .header__nav {
      z-index: 1;
      position: relative; }
      .main-header .header__nav:before, .main-header .header__nav:after {
        clear: both;
        content: "";
        display: table; }
      .main-header .header__nav li {
        display: inline-block; }
        .main-header .header__nav li:not(:last-child) {
          margin-right: 3.4%; }
        .main-header .header__nav li > a:not(.btn-book-now) {
          display: block;
          font-size: 14px;
          text-align: center;
          position: relative;
          text-transform: uppercase; }
          .main-header .header__nav li > a:not(.btn-book-now):before {
            left: 0;
            width: 0;
            content: "";
            height: 2px;
            bottom: -5px;
            position: absolute;
            background-color: #01858a;
            -moz-transition: width 0.5s;
            -o-transition: width 0.5s;
            -webkit-transition: width 0.5s;
            transition: width 0.5s; }
          .main-header .header__nav li > a:not(.btn-book-now):hover:before {
            width: 80%; }
      .main-header .header__nav .check-in {
        right: 0;
        top: -30px;
        color: #01858a;
        font-size: 14px;
        font-weight: 700;
        position: absolute; }
      .main-header .header__nav .header__mobile-trigger {
        display: none; } }
  @media (max-width: 992px) {
    .main-header .header__nav {
      top: -80px;
      left: 0;
      right: 0;
      z-index: 11;
      padding: 15px;
      display: none;
      text-align: center;
      position: absolute;
      background-color: #fff;
      transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      -webkit-transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      -moz-transition: transform 0.5 cubic-bezier(0.22, 0.61, 0.36, 1) s; }
      .main-header .header__nav li:not(:last-child) {
        margin-right: 0;
        border-bottom: 1px solid #f4f4f4; }
      .main-header .header__nav li > a:not(.btn-book-now) {
        padding: 8px;
        font-size: 18px;
        display: inline-block;
        text-transform: none; }
        .main-header .header__nav li > a:not(.btn-book-now):before {
          left: 0;
          width: 0;
          content: "";
          height: 2px;
          bottom: 5pxx;
          position: absolute;
          background-color: #01858a;
          -moz-transition: width 0.5s;
          -o-transition: width 0.5s;
          -webkit-transition: width 0.5s;
          transition: width 0.5s; }
      .main-header .header__nav .check-in {
        display: none; }
      .main-header .header__nav .btn-book-now {
        margin-top: 15px;
        width: 150px; } }
  .main-header .info__contact {
    position: relative; }
    .main-header .info__contact:before, .main-header .info__contact:after {
      top: 50%;
      left: -15%;
      height: 1px;
      width: 115%;
      content: "";
      z-index: -1;
      position: absolute;
      background-color: #eee; }
  .main-header .contact__list {
    padding: 8px;
    margin-left: 8%;
    display: inline-block;
    background-color: #fff; }
    .main-header .contact__list li {
      display: inline-block; }
      .main-header .contact__list li:not(:last-child):after {
        content: "|";
        margin: 0 5px 0 10px; }
    .main-header .contact__list a {
      font-size: 13px;
      font-weight: 600;
      color: #01858a; }
    .main-header .contact__list i {
      font-size: 18px;
      margin-right: 10px;
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg); }

.internal-header {
  display: table;
  margin-bottom: 45px;
  width: 100%;
  padding: 5px 50px;
  background-color: #0e5c73; }
  .internal-header .block__page-title {
    font-size: 28px;
    font-weight: normal;
    color: #fff;
    font-family: "Cinzel", sans-serif; }
  .internal-header .block__breadcrumb {
    text-align: right;
    display: table-cell;
    vertical-align: middle; }
    .internal-header .block__breadcrumb li {
      font-size: 14px;
      display: inline-block;
      color: #fff; }
      .internal-header .block__breadcrumb li:not(:last-child):after {
        content: ">";
        font-size: 13px;
        margin: 0 5px 0 10px; }
      .internal-header .block__breadcrumb li.is-active {
        font-weight: 600;
        text-transform: uppercase; }
    .internal-header .block__breadcrumb a {
      color: #fff; }

.block__section {
  margin-top: 110px;
  padding-bottom: 95px; }
  .block__section:not(:last-child) {
    border-bottom: 1px solid #f4f4f4; }
  .block__section .section__title {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 50px;
    font-family: "Cinzel", sans-serif;
    color: #484848;
    text-transform: uppercase; }
    .block__section .section__title:before {
      left: 50%;
      bottom: 20px;
      height: 2px;
      content: "";
      width: 50px;
      position: absolute;
      margin-left: calc(-50px/2);
      background-color: #01858a; }
  .block__section .section__actions {
    margin-top: 20px;
    text-align: center; }

.block__aside {
  margin-bottom: 50px; }
  .block__aside h3 {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    margin-bottom: 35px;
    font-family: "Cinzel", sans-serif; }
  .block__aside.block__most-readed article {
    margin-bottom: 40px; }
  .block__aside.block__most-readed .post__details:before, .block__aside.block__most-readed .post__details:after {
    clear: both;
    content: "";
    display: table; }
  .block__aside.block__most-readed .post__thumbnail {
    float: left;
    margin-right: 15px; }
  .block__aside.block__most-readed .post__title {
    height: 65px;
    overflow: hidden; }
    .block__aside.block__most-readed .post__title a {
      font-size: 14px;
      line-height: 1.2;
      color: #0e5c73; }

.block__social h2 {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 10px; }
.block__social .social__listing li {
  float: left;
  background-color: #3c404b;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .block__social .social__listing li:not(:last-child) {
    margin-right: 5px; }
  .block__social .social__listing li:hover {
    background-color: #31343d; }
.block__social .social__listing a {
  color: #fff;
  padding: 4px 0 8px;
  text-align: center;
  font-size: 18px;
  display: block;
  width: 40px; }

.btn {
  border: 0;
  outline: 0;
  max-width: 100%;
  font-size: 17px;
  font-weight: 700;
  padding: 13px 20px;
  display: inline-block;
  text-transform: uppercase;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  @media (max-width: 480px) {
    .btn {
      width: 100%;
      text-align: center; } }
  .btn-primary {
    color: #fff;
    background-color: #01858a; }
    .btn-primary:hover {
      background-color: #015e61; }
  .btn-secondary {
    color: #8dc63f;
    border: 1px solid #8dc63f; }
    .btn-secondary:hover {
      color: #fff;
      background-color: #8dc63f; }
  .btn-read-more {
    font-size: 17px;
    font-weight: 700;
    position: relative;
    color: #01858a; }
    .btn-read-more:before {
      left: 0;
      width: 0;
      bottom: -8px;
      content: "";
      height: 5px;
      position: absolute;
      background-color: #01858a;
      -moz-transition: width 0.5s;
      -o-transition: width 0.5s;
      -webkit-transition: width 0.5s;
      transition: width 0.5s; }
    .btn-read-more:hover {
      opacity: 1; }
      .btn-read-more:hover:before {
        width: 85%; }
  .btn-mobile {
    width: 40px;
    height: 35px;
    z-index: 12;
    display: block;
    position: relative;
    color: #fff;
    background-color: #01858a;
    box-shadow: inset 0 2px 0 #016d71;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
    .btn-mobile span {
      top: 16px;
      left: 18%;
      height: 2px;
      font-size: 0;
      width: 65%;
      position: absolute;
      background-color: #fff; }
      .btn-mobile span:before, .btn-mobile span:after {
        -webkit-transition: all .2s ease-out;
        width: 100%;
        position: absolute;
        height: 100%;
        background-color: #fff;
        content: ''; }
      .btn-mobile span:before {
        top: 7px; }
      .btn-mobile span:after {
        top: -7px; }
    .btn-mobile.is-active span {
      color: transparent; }
      .btn-mobile.is-active span:before, .btn-mobile.is-active span:after {
        width: 50%; }
      .btn-mobile.is-active span:before {
        top: 5px;
        transform: rotate(40deg);
        -webkit-transform: rotate(40deg); }
      .btn-mobile.is-active span:after {
        top: -5px;
        transform: rotate(-40deg);
        -webkit-transform: rotate(-40deg); }
  .btn-book-now {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    border: 3px solid #01858a;
    color: #01858a; }
    .btn-book-now:hover {
      color: #fff;
      background-color: #01858a; }
  .btn-call-to-book {
    font-size: 28px;
    display: block;
    height: 120px;
    line-height: 120px;
    position: relative;
    text-align: center;
    color: #fff;
    background-color: #fec63f;
    text-transform: uppercase; }
    .btn-call-to-book:hover {
      opacity: 1;
      background-color: #fed268; }
    .btn-call-to-book:before {
      top: 4px;
      content: "";
      width: 30px;
      height: 30px;
      margin-right: 25px;
      position: relative;
      display: inline-block;
      background: url(../../images/spritesheet.png) -283px -112px no-repeat; }
    .btn-call-to-book:after {
      top: 12%;
      left: 4%;
      width: 92%;
      height: 76%;
      content: "";
      position: absolute;
      border: 1px solid #fff; }
    @media (max-width: 480px) {
      .btn-call-to-book {
        font-size: 22px !important; }
        .btn-call-to-book:before {
          top: 5px;
          margin-right: 10px; } }
  .btn-curriculum {
    font-size: 13px;
    padding: 3px 20px;
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff; }
    .btn-curriculum:hover {
      color: #01858a;
      background-color: #fff; }
  .btn-submit {
    width: 100%;
    font-weight: 600;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #0e5c73; }
    .btn-submit:hover {
      background-color: #0b4a5c; }
  .btn-share {
    color: #fff;
    width: 45px;
    height: 45px;
    display: table;
    margin-top: 25px;
    text-align: center;
    background-color: #0094da; }
    .btn-share > i {
      display: table-cell;
      vertical-align: middle;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s; }
    .btn-share:hover {
      background-color: #28baff; }
      .btn-share:hover > i {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1); }

.icon {
  position: relative;
  display: inline-block;
  background: url(../../images/spritesheet.png) center center no-repeat; }
  .icon__breakfast {
    background-position: -183px -6px;
    width: 60px;
    height: 64px; }
  .icon__city {
    background-position: -102px -10px;
    width: 60px;
    height: 60px; }
  .icon__beach {
    background-position: -13px -10px;
    width: 68px;
    height: 60px; }
  .icon__calendar {
    background-position: -283px -112px;
    width: 30px;
    height: 30px; }
  .icon__quote {
    background-position: -257px -12px;
    width: 74px;
    height: 58px; }
  .icon__wi-fi {
    background-position: -224px -112px;
    width: 38px;
    height: 30px; }
  .icon__air {
    background-position: -53px -178px;
    width: 49px;
    height: 30px; }
  .icon__tv {
    background-position: -164px -112px;
    width: 38px;
    height: 30px; }
  .icon__minibar {
    background-position: -15px -107px;
    width: 22px;
    height: 40px; }
  .icon__phone {
    background-position: -106px -112px;
    width: 30px;
    height: 30px; }
    .icon__phone--small {
      background-position: -142px -183px;
      width: 20px;
      height: 20px; }
  .icon__coffer {
    background-position: -13px -178px;
    width: 27px;
    height: 30px; }
  .icon__share {
    background-position: -53px -112px;
    width: 30px;
    height: 30px; }
  .icon__locale {
    background-position: -119px -183px;
    width: 13px;
    height: 20px; }
  .icon__angle-left {
    background-position: -301px -184px;
    width: 14px;
    height: 24px; }
    .icon__angle-left--small {
      background-position: -301px -159px;
      width: 9px;
      height: 14px; }
  .icon__angle-right {
    background-position: -270px -183px;
    width: 14px;
    height: 24px; }

.paginator {
  margin-top: 18px;
  text-align: center; }
  .paginator__item {
    float: left;
    width: 65px;
    height: 60px;
    border: 1px solid #f2f2f2; }
    .paginator__item:not(:first-child) {
      border-left: 0; }
    .paginator__item.is-active a {
      font-weight: 600;
      color: #01858a; }
    .paginator__item a {
      padding: 20px;
      display: block;
      -moz-transition: color 0.3s;
      -o-transition: color 0.3s;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      .paginator__item a:hover {
        font-weight: 600;
        color: #01858a; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer; }

.owl-theme .owl-nav button.owl-next,
.owl-theme .owl-nav button.owl-prev {
  margin: 0;
  width: 50px;
  height: 50px;
  outline: none;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s; }
  .owl-theme .owl-nav button.owl-next > i,
  .owl-theme .owl-nav button.owl-prev > i {
    font-size: 28px; }

.owl-theme.owl-carousel .owl-nav button.owl-next {
  color: #fff;
  background-color: #0e5c73; }

.owl-theme.owl-carousel .owl-nav button.owl-prev {
  color: #0e5c73;
  background-color: #fff; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #01858a;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  outline: none;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 5px 7px;
  background-color: #fff;
  display: block;
  border: 2px solid #DDD;
  -webkit-backface-visibility: visible;
  transition: all 200ms ease;
  border-radius: 30px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  border-color: #01858a; }

.breadcrumb {
  padding: 15px 28px;
  position: relative; }
  .breadcrumb:before {
    width: 3px;
    height: 52%;
    content: "";
    position: absolute;
    top: 14px;
    left: 15px;
    width: 3px;
    background-color: #8dc63f; }
  .breadcrumb a.breadcrumb__item:hover {
    color: #8dc63f; }
  .breadcrumb a.breadcrumb__item:after:hover {
    color: #333; }
  .breadcrumb .breadcrumb__item {
    color: #333;
    font-size: 14px; }
    .breadcrumb .breadcrumb__item:not(:last-child):after {
      color: #333;
      content: ">>";
      margin-left: 10px;
      margin-right: 10px; }

.aside__map {
  width: 100%;
  min-height: 170px;
  background-color: #ffcb05; }
  .aside__map .map__download {
    position: relative; }
  .aside__map .map__title {
    color: #333;
    font-size: 58px;
    font-weight: 300;
    margin-right: 75px;
    display: inline-block;
    text-shadow: 0 2px #fffcff; }
  .aside__map .map__button {
    width: 200px;
    padding: 10px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    color: #8dc63f;
    background-color: #fff;
    border-radius: 10px;
    moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .aside__map .map__button:hover {
      color: #fff;
      background-color: #8dc63f;
      box-shadow: 0 0 20px #72a230;
      -webkit-box-shadow: 0 0 20px #72a230;
      -moz-box-shadow: 0 0 20px #72a230;
      text-shadow: 0 1px #567b24;
      -webkit-text-shadow: 0 1px #567b24;
      -moz-text-shadow: 0 1px #567b24; }
  .aside__map--vertical {
    width: 321px;
    height: 526px;
    position: relative; }
    .aside__map--vertical a {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background: url(../../images/download-mapa-interno.png) 0 0 no-repeat; }
      .aside__map--vertical a:hover {
        opacity: .75; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  outline: none;
  background-color: #eee;
  border: 1px solid #d3d3d3;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="tel"]:hover,
  input[type="password"]:hover,
  input[type="number"]:hover,
  select:hover,
  textarea:hover {
    border-color: #01858a; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  select:focus,
  textarea:focus {
    background-color: #e9e9e9;
    border-color: #01767b; }

textarea {
  height: 150px;
  resize: none; }

.contact__form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px; }
.contact__form ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  text-transform: lowercase; }
.contact__form :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  text-transform: lowercase; }
.contact__form :-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  text-transform: lowercase; }
.contact__form .form__fields label {
  display: block;
  text-transform: lowercase;
  margin-bottom: 20px; }

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }

.fade.in {
  opacity: 1; }

.collapse {
  display: none; }

.collapse.in {
  display: block; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.panel {
  padding-bottom: 40px;
  margin-bottom: 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #f4f4f4; }

.panel-body {
  padding: 15px; }

.panel-heading {
  padding: 10px 15px; }

.panel-heading > .dropdown .dropdown-toggle {
  color: inherit; }

.panel-title {
  width: 99%;
  font-size: 20px;
  color: inherit;
  font-weight: 300;
  position: relative; }
  .panel-title > a:not(.collapsed) {
    color: #0e5c73; }
    .panel-title > a:not(.collapsed):after {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg); }
  .panel-title > a:after {
    top: 50%;
    margin-top: calc(-32px/2);
    right: 0;
    font-size: 32px;
    content: "\f107";
    position: absolute;
    font-family: "fontAwesome";
    transition: transform .3s;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s; }

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit; }

.panel-footer {
  padding: 10px 15px; }

.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0; }

.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0; }

.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-left: 15px;
  padding-right: 15px; }

.panel-group {
  margin-bottom: 20px; }

.panel-group .panel + .panel {
  margin-top: 5px; }

.panel-default > .panel-heading {
  color: #01858a;
  font-family: "Cinzel", sans-serif; }

.main__footer {
  margin-top: 35px;
  padding: 65px 0 35px;
  color: #fff;
  background-color: #252935; }
  .main__footer .container {
    padding-right: 40px;
    padding-left: 40px; }
  @media (min-width: 993px) {
    .main__footer .footer__block-1 {
      min-height: 268px;
      padding-right: 40px;
      border-right: 1px solid #343844; }
      .main__footer .footer__block-1:before, .main__footer .footer__block-1:after {
        clear: both;
        content: "";
        display: table; }
    .main__footer .footer__block-2 {
      text-align: center; }
    .main__footer .trip-advisor {
      width: 11%; }
    .main__footer .footer__block-3 {
      padding-left: 40px;
      border-left: 1px solid #343844; } }
  @media (max-width: 992px) {
    .main__footer img {
      max-width: 150px;
      margin-top: 25px; } }
  .main__footer .block__social {
    margin-bottom: 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff; }
    .main__footer .block__social .social__listing:before, .main__footer .block__social .social__listing:after {
      clear: both;
      content: "";
      display: table; }
    .main__footer .block__social .social__listing li {
      display: inline-block; }
      .main__footer .block__social .social__listing li:not(:last-child) {
        margin-right: 3px; }
  .main__footer .block__newsletter:before, .main__footer .block__newsletter:after {
    clear: both;
    content: "";
    display: table; }
  .main__footer .block__newsletter .block__title {
    display: block;
    font-size: 18px;
    margin-bottom: 15px; }
  .main__footer .block__newsletter .block__subtitle {
    font-size: 14px; }
  .main__footer .block__newsletter .form__newsletter {
    margin-top: 30px; }
    .main__footer .block__newsletter .form__newsletter ::-webkit-input-placeholder {
      color: #fff; }
    .main__footer .block__newsletter .form__newsletter ::-moz-placeholder {
      color: #fff; }
    .main__footer .block__newsletter .form__newsletter :-ms-input-placeholder {
      color: #fff; }
    .main__footer .block__newsletter .form__newsletter :-moz-placeholder {
      color: #fff; }
    .main__footer .block__newsletter .form__newsletter label[for="newsletter_email"] {
      width: 80%;
      float: left;
      display: block;
      margin-right: 1%; }
    .main__footer .block__newsletter .form__newsletter input[type="email"] {
      background-color: transparent;
      border: 1px solid #fff; }
    .main__footer .block__newsletter .form__newsletter .btn-newsletter {
      width: 19%; }
  .main__footer .block__hotels .hotel__item:last-of-type {
    margin-top: 43px; }
  .main__footer .block__hotels .hotel__item h2 {
    font-size: 12px;
    margin-bottom: 15px; }
  .main__footer .block__hotels .hotel__item a {
    font-size: 13.5px;
    color: #fff; }
  .main__footer .block__hotels .hotel__item .info__contact li {
    margin-bottom: 5px;
    white-space: nowrap; }
  .main__footer .block__hotels .hotel__item .info__contact .click-to-call {
    line-height: 14px;
    margin-bottom: 10px; }
    .main__footer .block__hotels .hotel__item .info__contact .click-to-call a {
      font-size: 12px;
      font-weight: 600; }
  .main__footer .block__hotels .hotel__item .info__contact .fa {
    margin-right: 8px; }
  .main__footer .block__hotels .hotel__item .info__contact .fa-whatsapp {
    color: #12970a; }
  .main__footer .footer__nav {
    text-align: right;
    margin-top: 60px;
    padding-top: 30px;
    border-top: 1px solid #343844; }
    .main__footer .footer__nav a {
      color: #fff; }
      .main__footer .footer__nav a:not(:last-child):after {
        content: "|";
        margin: 0 5px; }
      @media (max-width: 480px) {
        .main__footer .footer__nav a:not(:last-child) {
          display: block; }
          .main__footer .footer__nav a:not(:last-child):after {
            display: none; } }
      .main__footer .footer__nav a:hover {
        color: #606982; }
        .main__footer .footer__nav a:hover:after {
          color: #fff; }

.main__banner {
  margin-bottom: 40px; }
  .main__banner .banner_wrapper {
    width: 100%;
    height: 700px;
    position: relative;
    background: url(../../images/home/banner-home.png) center center no-repeat;
    background-size: cover; }
  .main__banner .banner__description {
    left: 0;
    bottom: 0;
    position: relative;
    text-align: center;
    position: absolute;
    padding: 50px 65px 80px;
    background-color: #fff;
    max-width: 805px;
    width: 80%; }
    .main__banner .banner__description:before {
      top: -15px;
      left: 50%;
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
      background-color: #01858a;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg); }
    .main__banner .banner__description .banner__title {
      font-size: 28px;
      margin-bottom: 45px;
      font-weight: normal;
      color: #01858a;
      font-family: "Cinzel", sans-serif; }
    .main__banner .banner__description .banner__subtitle {
      font-size: 18px; }
  .main__banner .banner__actions {
    bottom: 0;
    right: 0;
    width: 28%;
    position: absolute; }

.block__technical-features {
  padding: 75px 0;
  margin-bottom: 40px;
  border-top: 1px solid #eee; }
  .block__technical-features .block__featured-item {
    text-align: center; }
    .block__technical-features .block__featured-item:not(:last-child) {
      border-right: 1px solid #eee; }
    .block__technical-features .block__featured-item .icon {
      margin-bottom: 40px; }
    .block__technical-features .block__featured-item .block__subtitle {
      font-size: 29px;
      line-height: 1.2;
      font-family: "Cinzel", sans-serif; }

.block__main-features .main-features__wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #f0f0f0; }
.block__main-features .carousel__features .owl-nav {
  bottom: 0;
  width: 100%;
  position: absolute; }
.block__main-features .main-features__inner-wrapper {
  background-color: #f0f0f0; }
.block__main-features .main-features__images a {
  float: left;
  overflow: hidden;
  position: relative; }
  .block__main-features .main-features__images a:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .block__main-features .main-features__images a:hover:before {
    opacity: .8; }
  .block__main-features .main-features__images a:hover img {
    transform: scale(1.1); }
  .block__main-features .main-features__images a img {
    float: left;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
.block__main-features .block__title {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 45px;
  text-transform: uppercase;
  font-family: "Cinzel", sans-serif; }

.block__testimonials {
  height: 800px;
  overflow: hidden;
  position: relative;
  background: url(../../images/home/depoimento.png) center center no-repeat;
  background-size: cover; }
  .block__testimonials .testimonials_wrapper {
    position: relative;
    margin-right: -15px;
    overflow: hidden; }
    .block__testimonials .testimonials_wrapper .owl-dots {
      right: 0;
      bottom: 0;
      float: right;
      width: 100%;
      max-width: 730px;
      margin-bottom: 25px;
      position: absolute; }
  .block__testimonials .testimonials__item {
    width: 100%;
    float: right;
    max-width: 730px;
    text-align: center;
    padding: 80px 135px;
    background-color: #fff; }
    .block__testimonials .testimonials__item > i {
      font-size: 82px;
      color: #01858a; }
    .block__testimonials .testimonials__item .testimonials__content {
      font-size: 16px;
      margin-top: 50px;
      margin-bottom: 40px; }
    .block__testimonials .testimonials__item .testimonials__author {
      font-size: 22px;
      color: #01858a;
      font-family: "Cinzel", sans-serif; }

.aside__contact-us {
  height: 140px;
  margin: 30px 0; }
  .aside__contact-us .aside__image {
    display: block;
    text-align: center; }

.block__blog {
  margin-top: 60px;
  padding-bottom: 0; }
  .block__blog .blog__post {
    margin-bottom: 30px; }
  .block__blog .post__info {
    position: relative; }
  .block__blog header {
    text-align: center; }
    .block__blog header .section__title {
      padding-top: 80px;
      margin-bottom: 0;
      border-top: 1px solid #eee; }
    .block__blog header .section__subtitle {
      margin-bottom: 50px; }
  .block__blog .post__thumbnail {
    display: block;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .block__blog .post__thumbnail img {
      height: auto;
      max-width: 100%; }
    .block__blog .post__thumbnail:hover {
      opacity: .8; }
  .block__blog .post__title {
    font-size: 16px;
    overflow: hidden;
    max-height: 60px;
    line-height: 1.2;
    margin-bottom: 16px;
    font-weight: 800; }
  .block__blog .post__details {
    padding: 20px 0; }
  .block__blog .post__excerpt {
    height: 130px;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.2; }
  .block__blog .post__actions {
    text-align: left; }

.block__hotels-v2 .hotel__item {
  padding: 40px 50px 115px;
  background-color: #f5f5f5; }
  .block__hotels-v2 .hotel__item:before, .block__hotels-v2 .hotel__item:after {
    clear: both;
    content: "";
    display: table; }
  .block__hotels-v2 .hotel__item .hotel__name {
    padding-top: 30px;
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 60px;
    font-family: "Cinzel";
    color: #01858a; }
  .block__hotels-v2 .hotel__item .hotel__subtitle {
    font-size: 22px;
    font-family: "Cinzel"; }
  .block__hotels-v2 .hotel__item .hotel__description {
    margin-top: 20px; }
    .block__hotels-v2 .hotel__item .hotel__description p {
      line-height: 20px;
      margin-bottom: 40px; }
  .block__hotels-v2 .hotel__item .hotel__thumbnail {
    position: relative;
    display: inline-block; }
    .block__hotels-v2 .hotel__item .hotel__thumbnail:before {
      top: 40px;
      left: -40px;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      border: 3px solid #fec63f; }
  .block__hotels-v2 .hotel__item .item__link {
    font-weight: 700;
    font-size: 17px;
    color: #01858a; }
    .block__hotels-v2 .hotel__item .item__link > i {
      font-size: 26px;
      margin-right: 10px; }
  .block__hotels-v2 .hotel__item .btn-call-to-book {
    font-size: 25px;
    height: 110px;
    line-height: 110px;
    display: inline-block;
    max-width: 360px;
    width: 100%; }
.block__hotels-v2 .hotels__listing > div > div:not(:first-of-type) .hotel__item {
  margin-top: 45px; }

.hotel__internal .hotel__main-slider {
  margin-bottom: 40px; }
.hotel__internal .btn-submit {
  background-color: #01858a; }
.hotel__internal .hotel__details {
  margin-bottom: 45px; }
  .hotel__internal .hotel__details:before, .hotel__internal .hotel__details:after {
    clear: both;
    content: "";
    display: table; }
  @media (min-width: 768px) {
    .hotel__internal .hotel__details {
      margin-bottom: 115px; } }
.hotel__internal .hotel__info {
  padding: 0 40px 40px; }
  .hotel__internal .hotel__info .hotel__title {
    font-size: 45px;
    position: relative;
    margin-bottom: 48px;
    font-weight: normal;
    color: #01858a;
    font-family: "Cinzel", sans-serif; }
    .hotel__internal .hotel__info .hotel__title:before {
      content: "";
      width: 25px;
      height: 25px;
      margin-right: 25px;
      display: inline-block;
      background-color: #01858a;
      transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }
  .hotel__internal .hotel__info .hotel__subtitle {
    font-size: 22px;
    margin-bottom: 70px;
    font-weight: normal;
    font-family: "Cinzel", sans-serif; }
  @media (min-width: 768px) {
    .hotel__internal .hotel__info .hotel__description {
      columns: 2; } }
.hotel__internal .hotel__call-action {
  display: block;
  max-width: 365px;
  position: relative;
  color: #fff;
  padding: 20px 40px 20px 50px;
  background-color: #fec63f; }
  @media (min-width: 768px) {
    .hotel__internal .hotel__call-action {
      padding: 20px 38px 20px 90px; } }
  .hotel__internal .hotel__call-action:before {
    top: 4%;
    left: 4%;
    width: 92%;
    height: 92%;
    content: "";
    position: absolute;
    pointer-events: none;
    border: 1px solid #fff; }
  .hotel__internal .hotel__call-action .icon__calendar {
    left: 35px;
    margin-top: 2px;
    position: absolute; }
  .hotel__internal .hotel__call-action.full--version {
    max-width: 100%;
    padding: 40px 60px 42px; }
    .hotel__internal .hotel__call-action.full--version:before {
      top: 19px;
      left: 15px;
      width: 98%;
      height: 81%;
      content: "";
      position: absolute;
      pointer-events: none; }
    .hotel__internal .hotel__call-action.full--version .icon__calendar {
      left: 0;
      margin-top: 0;
      position: relative;
      top: 6px;
      margin-right: 18px; }
    @media (max-width: 992px) {
      .hotel__internal .hotel__call-action.full--version:before {
        width: 96%;
        height: 92%; } }
    @media (max-width: 768px) {
      .hotel__internal .hotel__call-action.full--version {
        max-width: 100%;
        padding: 40px; }
        .hotel__internal .hotel__call-action.full--version .qty_options label {
          float: left;
          margin-right: 10%; } }
    @media (max-width: 480px) {
      .hotel__internal .hotel__call-action.full--version:before {
        width: 93%; } }
    @media (min-width: 992px) {
      .hotel__internal .hotel__call-action.full--version label {
        float: left;
        margin-right: 8%; } }
  .hotel__internal .hotel__call-action fieldset {
    border: 0; }
  .hotel__internal .hotel__call-action label {
    display: block;
    margin-bottom: 19px; }
  .hotel__internal .hotel__call-action input {
    height: 42px;
    color: #000;
    background-color: #fff; }
  .hotel__internal .hotel__call-action h3 {
    font-size: 22px;
    padding: 17px 0 25px;
    text-transform: uppercase; }
  .hotel__internal .hotel__call-action .btn-submit {
    margin-bottom: 20px; }
  .hotel__internal .hotel__call-action .qty_options input {
    width: 36px;
    margin-right: 25px; }
.hotel__internal .carousel__hotel-features li {
  overflow: hidden; }
.hotel__internal .carousel__hotel-features img {
  transition: transform .3s;
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s; }
.hotel__internal .carousel__hotel-features.owl-theme.owl-carousel .owl-nav {
  top: 0;
  right: 34%;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s; }
  .hotel__internal .carousel__hotel-features.owl-theme.owl-carousel .owl-nav .owl-prev,
  .hotel__internal .carousel__hotel-features.owl-theme.owl-carousel .owl-nav .owl-next {
    color: #fff;
    background: none; }
.hotel__internal .carousel__hotel-features.owl-theme.owl-carousel:hover img {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1); }
.hotel__internal .carousel__hotel-features.owl-theme.owl-carousel:hover .carousel__content,
.hotel__internal .carousel__hotel-features.owl-theme.owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible; }
.hotel__internal .carousel__hotel-features .carousel__content {
  top: 0;
  left: 50%;
  bottom: 0;
  width: 100%;
  max-width: 365px;
  z-index: 1;
  font-size: 35px;
  color: #fff;
  font-family: "Cinzel", sans-serif;
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: calc(-365px/2);
  background-color: rgba(20, 80, 99, 0.8);
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s; }
  .hotel__internal .carousel__hotel-features .carousel__content:before {
    top: -200px;
    left: -32px;
    width: 73%;
    height: 131%;
    content: "";
    z-index: -1;
    position: absolute;
    background-color: rgba(8, 56, 70, 0.6);
    transform: rotate(222deg);
    -webkit-transform: rotate(222deg);
    -moz-transform: rotate(222deg); }
.hotel__internal .block__technical-features .block__featured-item .block__subtitle {
  font-size: 21px; }
.hotel__internal .block__technical-features .block__featured-item .icon__minibar {
  top: -5px; }

.map__container {
  height: 700px;
  margin-top: 20px;
  background-color: #DDD; }

.block__partners .partner {
  padding: 30px;
  margin-bottom: 35px;
  background-color: #f5f5f5; }
  .block__partners .partner .partner__logo {
    margin-bottom: 15px; }
  .block__partners .partner .partner__title {
    font-size: 35px;
    line-height: 42px;
    font-weight: normal;
    margin-bottom: 25px;
    color: #0e5c73;
    font-family: "Cinzel", sans-serif; }
  .block__partners .partner .partner__description p {
    font-size: 17px;
    line-height: 1.2; }
  .block__partners .partner .contact__list {
    margin-top: 30px; }
    .block__partners .partner .contact__list li {
      color: #01858a; }
      .block__partners .partner .contact__list li:not(:last-child) {
        margin-bottom: 25px; }
    .block__partners .partner .contact__list a {
      color: #01858a; }
    .block__partners .partner .contact__list .icon {
      vertical-align: bottom;
      margin-right: 15px; }

.blog .blog__post:before, .blog .blog__post:after {
  clear: both;
  content: "";
  display: table; }
.blog .blog__post:not(:last-child) {
  margin-bottom: 60px; }
.blog .blog__post .btn-read-more {
  font-size: 16px;
  margin-top: 23px;
  display: inline-block; }
.blog .blog__post:not(.single__post) .post__actions {
  width: 8%;
  float: left;
  text-align: center;
  padding: 15px 10px;
  border-bottom: 1px solid #eee; }
.blog .blog__post:not(.single__post) .post__info {
  width: 92%;
  float: left;
  padding-left: 4%;
  position: relative;
  border-left: 1px solid #eee; }
  .blog .blog__post:not(.single__post) .post__info:before {
    top: 60px;
    left: -3px;
    content: "";
    width: 5px;
    height: 12px;
    position: absolute;
    background-color: #0e5c73; }
.blog .blog__post .post__title {
  font-size: 30px;
  margin-bottom: 30px; }
.blog .blog__post .post__thumbnail {
  margin-bottom: 40px; }
.blog .blog__post .post__excerpt p {
  margin-bottom: 15px; }
.blog .blog__post .post__share {
  font-size: 14px;
  font-weight: 600; }
.blog .block__paginator {
  text-align: center; }
  .blog .block__paginator .paginator {
    display: inline-block; }
.blog .post__comments .field__label {
  margin-bottom: 30px; }
.blog .post__comments strong {
  font-weight: bold;
  color: #0e5c73; }
.blog .block__categories li:not(:last-child) {
  margin-bottom: 18px; }
.blog .block__categories a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #01858a; }
.blog .block__newsletter label {
  display: block;
  margin: 25px 0; }
.blog .block__newsletter .btn-primary {
  font-weight: 600; }
.blog .block__search {
  position: relative;
  margin-bottom: 50px; }
  .blog .block__search .btn-search {
    top: 1px;
    right: 1px;
    position: absolute;
    height: 96%;
    font-weight: 300;
    font-size: 22px;
    width: 50px;
    background-color: #eee;
    border: 0; }
    .blog .block__search .btn-search:before {
      background: url(../../images/spritesheet.png) center center no-repeat;
      background-position: -221px -183px;
      display: inline-block;
      position: relative;
      margin-top: 5px;
      height: 24px;
      width: 24px;
      content: ""; }
.blog .blog__listing {
  position: relative;
  border-right: 1px solid #eee; }
.blog .block__aside {
  position: relative; }
  .blog .block__aside:before {
    top: 10px;
    left: -35px;
    content: "";
    width: 12px;
    height: 5px;
    position: absolute;
    background-color: #0e5c73; }
.blog.blog__single .blog__listing {
  border-right: 0; }

.block__contact .block__section {
  margin-top: 0;
  border-bottom: 0;
  position: relative;
  padding: 70px 0 25px;
  background-color: #eee; }
  .block__contact .block__section:before {
    left: 0;
    top: 145px;
    content: "";
    width: 105%;
    height: 100%;
    position: absolute;
    transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    background-color: #eee; }
.block__contact .contact__info,
.block__contact .contact__form {
  padding: 40px 65px; }
  @media (max-width: 768px) {
    .block__contact .contact__info,
    .block__contact .contact__form {
      padding: 20px 25px; } }
  .block__contact .contact__info .section__title,
  .block__contact .contact__form .section__title {
    position: relative;
    margin-bottom: 65px; }
    .block__contact .contact__info .section__title h2,
    .block__contact .contact__form .section__title h2 {
      z-index: 1;
      font-weight: 300;
      font-size: 30px;
      position: relative;
      text-align: center;
      font-family: "Cinzel", sans-serif; }
      .block__contact .contact__info .section__title h2 span,
      .block__contact .contact__form .section__title h2 span {
        padding: 0 10px;
        display: inline-block; }
      .block__contact .contact__info .section__title h2:before,
      .block__contact .contact__form .section__title h2:before {
        left: 0;
        top: 50%;
        z-index: -1;
        height: 1px;
        width: 100%;
        content: "";
        position: absolute; }
.block__contact .contact__form {
  background-color: #fff; }
  .block__contact .contact__form .section__title h2 {
    background-color: #fff; }
    .block__contact .contact__form .section__title h2 span {
      background-color: #fff; }
    .block__contact .contact__form .section__title h2:before {
      background-color: #eee; }
.block__contact .contact__info {
  color: #fff;
  background-color: #01858a; }
  .block__contact .contact__info .section__title h2 {
    color: #fff;
    background-color: #01858a; }
    .block__contact .contact__info .section__title h2 span {
      background-color: #01858a; }
    .block__contact .contact__info .section__title h2:before {
      background-color: #fff; }
  .block__contact .contact__info .hotel__list li {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px; }
  .block__contact .contact__info .hotel__list h3 {
    font-size: 20px;
    font-family: "Cinzel", sans-serif;
    margin-bottom: 10px;
    line-height: 24px; }
  .block__contact .contact__info .hotel__list a {
    display: block;
    color: #fff; }
  .block__contact .contact__info .hotel__list address {
    font-style: normal; }
  .block__contact .contact__info .contact__actions {
    padding-top: 25px;
    border-top: 1px solid #fff; }
    .block__contact .contact__info .contact__actions label {
      margin-right: 6px;
      font-weight: 600;
      font-size: 14px;
      margin-right: 6px;
      font-family: "Cinzel", sans-serif; }

.contact__footer .main__footer {
  margin-top: 0; }

.contact__select {
  color: #01858a;
  font-size: 20px;
  font-family: "Cinzel", sans-serif;
  font-weight: bold;
  margin-bottom: 25px; }

.contact__file {
  display: flex;
  align-items: baseline; }
  .contact__file label {
    font-size: 14px;
    color: #444444;
    text-transform: initial !important;
    margin-right: 10px; }

.contact__submit {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: 40px; }
  .contact__submit-number {
    display: flex;
    align-items: baseline; }
    .contact__submit-number input {
      width: 100px;
      margin-left: 25px;
      margin-right: 32px; }

.block__map .map__contact {
  height: 400px;
  background-color: #ccc; }
.block__map .footer_line {
  z-index: -1;
  position: relative; }
  .block__map .footer_line:before {
    left: 0;
    top: -150px;
    content: "";
    width: 105%;
    height: 480px;
    z-index: -1;
    position: absolute;
    transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    background-color: #252935; }

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block; }

.btn__file {
  padding: 7px 10px;
  font-weight: bold;
  background-color: #01858a;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer; }

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  display: block; }

.block__faqs .faq__image {
  margin-left: 8%; }
  @media (max-width: 992px) {
    .block__faqs .faq__image {
      margin-left: 0;
      margin-bottom: 45px; } }

.block__policy .policy__section {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 50px;
  color: #484848;
  font-family: "Cinzel", sans-serif; }
.block__policy .policy__info {
  margin-bottom: 60px; }
.block__policy .policy__links a {
  display: block;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #01858a;
  font-family: "Cinzel", sans-serif; }
  .block__policy .policy__links a:before {
    top: 5px;
    font-size: 28px;
    font-weight: 300;
    content: "\f105";
    position: relative;
    margin-right: 15px;
    color: #01858a;
    font-family: "fontAwesome"; }
.block__policy .policy__cancel-methods .cancel__method h3 {
  font-family: "Cinzel", sans-serif;
  color: #0e5c73;
  margin-bottom: 13px;
  font-size: 20px; }
.block__policy .policy__cancel-methods .cancel__method p {
  margin-bottom: 15px; }
.block__policy .policy__list {
  margin-bottom: 40px; }
  .block__policy .policy__list li {
    position: relative;
    margin-bottom: 15px; }
    .block__policy .policy__list li:before {
      content: "";
      width: 10px;
      height: 10px;
      margin-right: 15px;
      display: inline-block;
      background-color: #01858a;
      transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }

@media (min-width: 1200px) and (max-width: 1460px) {
  .main-header .header__nav li:not(:last-child) {
    margin-right: 2.4%; }
  .main-header .header__nav li > a:not(.btn-book-now) {
    font-size: 12px; }
  .main-header .header__nav .btn-book-now {
    padding: 5px 10px; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .main-header .header__nav {
    margin-top: 20px;
    text-align: center; }
  .main-header .align-flex {
    flex-direction: column; }
  .main-header li:last-child {
    display: none; } }
@media (max-width: 1200px) {
  .main__banner .banner__description {
    width: 100%;
    bottom: 120px; }
  .main__banner .banner__actions {
    width: 100%; } }
@media (max-width: 992px) {
  .block__technical-features .block__featured-item:not(:last-child) {
    margin-bottom: 40px; }

  .block__section {
    margin-top: 45px;
    padding-bottom: 45px; }

  .main__footer .block__newsletter:before, .main__footer .block__newsletter:after {
    clear: both;
    content: "";
    display: table; }
  .main__footer .block__newsletter .block__title {
    display: block;
    font-size: 18px;
    margin-bottom: 15px; }
  .main__footer .block__newsletter .block__subtitle {
    font-size: 14px; }
  .main__footer .block__newsletter .form__newsletter label[for="newsletter_email"] {
    width: 65%; }
  .main__footer .block__newsletter .form__newsletter .btn-newsletter {
    width: 34%; }

  .blog .block__aside:before {
    left: 0; }
  .blog .block__aside h3 {
    padding-left: 15px; }

  .block__main-features .main-features__wrapper {
    flex-direction: column; }
  .block__main-features .carousel__hotel-features {
    margin-top: 45px; }

  .main__footer .hotel__list .hotel__item {
    margin-top: 30px; }

  .block__contact .contact__info .section__title,
  .block__contact .contact__form .section__title {
    margin-bottom: 40px; } }
@media (max-width: 680px) {
  .blog .blog__post:not(.single__post) .post__actions {
    display: none; } }
@media (max-width: 991px) {
  .block__testimonials {
    display: none; }

  .main-header .align-flex {
    display: block; }

  .block__hotels-v2 .hotel__item {
    padding: 15px 0; }
    .block__hotels-v2 .hotel__item > div:first-child {
      text-align: center; }
    .block__hotels-v2 .hotel__item .hotel__thumbnail {
      margin-bottom: 5px; }
      .block__hotels-v2 .hotel__item .hotel__thumbnail:before {
        top: 10px;
        left: -10px; }
    .block__hotels-v2 .hotel__item .hotel__name {
      margin-bottom: 20px; }
    .block__hotels-v2 .hotel__item .item__link {
      display: block;
      margin-bottom: 40px; }
    .block__hotels-v2 .hotel__item .btn-call-to-book {
      height: 75px;
      line-height: 75px; }

  .block__main-features .main-features__description {
    padding-top: 45px;
    padding-bottom: 45px; }
  .block__main-features .block__technical-features .block__featured-item {
    margin-bottom: 45px; }

  .aside__group {
    margin-top: 45px; }

  .hotel__internal .hotel__call-action {
    max-width: 100%; }
  .hotel__internal .main__banner .banner__description {
    width: 100%; }
  .hotel__internal .main__banner .owl-theme .owl-nav {
    top: 0;
    margin-top: 0; }

  .main-header .header__logo {
    text-align: center; }
  .main-header .info__contact {
    margin-top: 10px;
    text-align: center; }
  .main-header .contact__list {
    padding: 0;
    margin-left: 0; }
    .main-header .contact__list li:not(:last-child):after {
      margin: 0 0 0 5px; } }
@media (max-width: 480px) {
  .main__banner .banner__description {
    padding: 45px 25px; }

  .hotel__internal .hotel__info .hotel__title {
    font-size: 34px; }

  .hotel__internal .hotel__call-action h3 {
    padding-left: 30px; } }
@media (max-width: 380px) {
  .main__footer .block__newsletter .form__newsletter label[for="newsletter_email"],
  .main__footer .block__newsletter .form__newsletter .btn-newsletter {
    width: 100%; }
  .main__footer .block__newsletter .form__newsletter .btn-newsletter {
    margin-top: 5px; } }

/*# sourceMappingURL=style.css.map */
