.title {
    color: $color__medium-grey;
    font-size: 40px;
    font-weight: 300;
    position: relative;
    letter-spacing: 4px;

    &::before {
        content: "";
        position: absolute;
        width: 62px;
        height: 2px;
        background: $color__secondary;
        bottom: -15px;
    }

    &--small {
        font-size: 25px;
    }

    &__sub {
        font-size: 20px;
        color: $color__light-grey;
        margin-top: 30px;
        font-weight: 300;

        &--center {
            text-align: center;
            width: 390px;
            margin-right: auto;
            margin-left: auto;
        }
    }

    &--center {
        text-align: center;

        &::before {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
        }
    }
}

.text-center {
    text-align: center
}

.main__title {
    width: 100%;
    padding: 34px 0;
    background-position: center;
    
    &.faq {
        background-image: url(../../images/title/faq.png);
    }

    &.paciente-em-viagem {
        background-image: url(../../images/title/paciente-em-viagem.png);
    }

    &.equipe, &.clinica {
        background-image: url(../../images/title/equipe.png);
    }

    &.procedimento-estetico, &.tratamento, &.doc {
        background-image: url(../../images/title/estetica.png);
    }

    &.estrutura {
        background-image: url(../../images/title/estrutura.png);
    }

    &.tecnologia {
        background-image: url(../../images/title/tecnologia.png);
    }

    &.bioseguranca {
        background-image: url(../../images/title/bioseguranca.png);
    }

    &.blog-interna {
        background-image: url(../../images/title/blog.png);
    }
}
