main {
    margin-top: 116px;
}
.main-header {
    padding: 30px 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 9999999;
    position: fixed;
    width: 100%;
    background: $color__white;
    top: 0;
    left: 0;

    @media (max-width: $screen-sm + 1) {
        box-shadow: none
    }

    .header__social {
        position: absolute;
        top: -30px;
        right: 15px;

        a {
            
            &:first-child {
                margin-right: 20px;
            }
            
            i {
                border: 1px solid $color__primary;
                border-radius: 100%;
                height: 20px;
                width: 20px;
                text-align: center;
                font-size: 10px;
                line-height: 18px;
                color: $color__primary;
                

                &:hover {
                    color: $color__white;
                    background: $color__primary
                }
            }
        }
    }


    @media (min-width: $screen-sm + 1) {
        .header__nav {
            z-index: 1;
            position: relative;
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;

            @include clearfix;

            li {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 40px;
                }

                > a:not(.btn-book-now) {
                    display: block;
                    font-size: 14px;
                    text-align: center;
                    position: relative;
                    color: $color__medium-grey;
                    letter-spacing: 1px;

                    &:hover {
                        color: $color__primary;
                    }
                }
            }

            .check-in {
                right: 0;
                top: -30px;
                color: #01858a;
                font-size: 14px;
                font-weight: 700;
                position: absolute;
            }

            .header__mobile-trigger {
                display: none;
            }
        }
    }

    @media (max-width: $screen-md) {
        .header__nav {
            top: -80px;
            left: 0;
            right: 0;
            z-index: 11;
            padding: 15px;
            display: none;
            text-align: center;
            position: absolute;
            background-color: $color__white;

            transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
            -webkit-transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
            -moz-transition: transform 0.5 cubic-bezier(0.22, 0.61, 0.36, 1) s;

            &.is-active {
            }

            li {
                &:not(:last-child) {
                    margin-right: 0;
                    border-bottom: 1px solid #f4f4f4;
                }

                > a:not(.btn-book-now) {
                    padding: 8px;
                    font-size: 18px;
                    display: inline-block;
                    text-transform: none;

                    &:before {
                        left: 0;
                        width: 0;
                        content: "";
                        height: 2px;
                        bottom: 5pxx;
                        position: absolute;
                        background-color: $color__primary;

                        @include transition(width 0.5s);
                    }
                }
            }

            .check-in {
                display: none;
            }

            .btn-book-now {
                margin-top: 15px;
                width: 150px;
            }
        }
    }

    .info__contact {
        position: relative;

        &:before,
        &:after {
            top: 50%;
            left: -15%;
            height: 1px;
            width: 115%;
            content: "";
            z-index: -1;
            position: absolute;
            background-color: #eee;
        }
    }

    .contact__list {
        padding: 8px;
        margin-left: 8%;
        display: inline-block;
        background-color: $color__white;

        li {
            display: inline-block;

            &:not(:last-child) {
                &:after {
                    content: "|";
                    margin: 0 5px 0 10px;
                }
            }
        }

        a {
            font-size: 13px;
            font-weight: 600;
            color: $color__primary;
        }

        i {
            font-size: 18px;
            margin-right: 10px;
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
        }
    }
}

.internal-header {
    display: table;
    margin-bottom: 45px;
    width: 100%;
    padding: 5px 50px;
    background-color: $color__secondary;

    .block__page-title {
        font-size: 28px;
        font-weight: normal;
        color: $color__white;
        font-family: $secondaryFont;
    }

    .block__breadcrumb {
        text-align: right;
        display: table-cell;
        vertical-align: middle;

        li {
            font-size: 14px;
            display: inline-block;
            color: $color__white;

            &:not(:last-child) {
                &:after {
                    content: ">";
                    font-size: 13px;
                    margin: 0 5px 0 10px;
                }
            }

            &.is-active {
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        a {
            color: $color__white;
        }
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    @media (max-width: $screen-sm) {
        display: inline-block!important
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $color__white;
    min-width: 160px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -40px;

    @media (max-width: $screen-sm) {
        display: block!important;
        position: inherit;
        box-shadow: none;
        left: 0;

        a {
            font-size: 13px!important;
        }
    }

    li {
        margin-right: 0!important;
    }
    
    a {
        font-size: 14px;
        color: $color__medium-grey;
        padding: 20px;
    }
}

.dropdown:hover .dropdown-content {
    display: block!important;
}