.icon {
	position: relative;
	display: inline-block;
	background: url(../../images/spritesheet.png) center center no-repeat;

	&__breakfast {
		background-position: -183px -6px;
		width: 60px;
		height: 64px;
	}

	&__city {
		background-position: -102px -10px;
		width: 60px;
		height: 60px;
	}

	&__beach {
		background-position: -13px -10px;
		width: 68px;
		height: 60px;
	}

	&__calendar {
		background-position: -283px -112px;
		width: 30px;
		height: 30px;
	}

	&__quote {
		background-position: -257px -12px;
		width: 74px;
		height: 58px;
	}

	&__wi-fi{
		background-position: -224px -112px;
		width: 38px;
		height: 30px;
	}

	&__air {
		background-position: -53px -178px;
		width: 49px;
		height: 30px;
	}

	&__tv {
		background-position: -164px -112px;
		width: 38px;
		height: 30px;
	}

	&__minibar {
		background-position: -15px -107px;
		width: 22px;
		height: 40px;
	}

	&__phone {
		background-position: -106px -112px;
		width: 30px;
		height: 30px;

		&--small {
			background-position: -142px -183px;
			width: 20px;
			height: 20px;
		}
	}

	&__coffer {
		background-position: -13px -178px;
		width: 27px;
		height: 30px;
	}

	&__share {
		background-position: -53px -112px;
		width: 30px;
		height: 30px;
	}

	&__locale {
		background-position: -119px -183px;
		width: 13px;
		height: 20px;
	}

	&__angle-left {
		background-position: -301px -184px;
		width: 14px;
		height: 24px;

		&--small {
			background-position: -301px -159px;
			width: 9px;
			height: 14px;
		}
	}

	&__angle-right {
		background-position: -270px -183px;
		width: 14px;
		height: 24px;
	}
	
}