.pagination {
	text-align: center;
	li {
		display: inline-block;

		margin: 0 10px;

		&:last-child{
			margin-right: 0;
		}

		&:first-child {
			margin-left: 0;
		}

		a {
			font-size: 16px;
			color: #868686;
			&.active {
				font-size: 20px;
				font-weight: 700;
				color: $color__primary;
			}
		}

	}

	.previous, .next {
		a {
			color: $color__primary;
			font-size: 14px;
			font-weight: 700;
		}
	}
}