.doc {
    &__content {
        margin-top: 70px;
    }
    
    &__listing {

        h2 {
            font-size: 25px;
            color: $color__medium-grey;
            font-weight: 700;
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid #DDDDDD;

            &.header {
                margin-top: 60px;
            }
        }

        h3 {
            font-size: 18px;
            color: $color__medium-grey;
            font-weight: 700;
            margin-bottom: 40px;
        }
        

        p {
            font-size: 16px;
            font-weight: 300;
            color: $color__medium-grey;
            margin-bottom: 30px;

        }

        span {
            color: $color__primary;
            font-size: 18px;
            font-weight: 700;
        }

        ul {
            -moz-column-count: 2;
            -moz-column-gap: 20px;
            -webkit-column-count: 2;
            -webkit-column-gap: 20px;
            column-count: 2;
            column-gap: 20px;
            margin: 50px 0;

            li {
                position: relative;
                padding-left: 25px;
                &:before {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 3px;
                    background-color: $color__primary;
                    left: 0;
                    top: 10px;
                    
                }
            }
        }
    }

    &__form {
        padding: 21px 15px;
        color: $color__white;
        position: relative;

        @media (max-width: $screen-md) {
            padding: 0;
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url("../../images/aside/bg-form-2.png");
            background-position: right;
            width: 676px;
            height: 330px;
            top: 0;
            z-index: -1;

            @media (max-width: $screen-md) {
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        form {
            position: relative;
            z-index: 9;
            padding: 20px;
        }

        p {
            font-size: 20px;
            font-weight: 300;
            margin-top: 15px;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        input {
            margin-bottom: 20px;

            &.black {
                background-color: #222222;
                text-align: center;
                border-radius: 8px;
                margin-top: 20px;
                width: 100%;
                &:hover{
                    opacity: .75;
                }
            }

            &[type="submit"] {
                background: #A4E30F;
                text-align: center;
                border-radius: 8px;
                width: 100%;

                &:hover{
                    opacity: .75;
                }
            }
        }

        &--consulta {
            &::after {
                background-image: url("../../images/aside/bg-form-3.png");
                height: 630px;
            }
        }
    }

 
}