.equipe {
    color: $color__medium-grey;

    &__name {
        font-size: 25px;
        margin-bottom: 60px;

        span {
            font-weight: 300;
            color: $color__primary;
            margin-left: 15px;
        }
    }

    &__text{
        font-size: 16px;
        font-weight: 300;
    }

    &__info {
        h2 {
            font-size: 18px;
            margin-bottom: 40px;
        }

        p {
            font-size: 16px;
            font-weight: 300;
        }
    }

    &__consulta {
        font-size: 20px;
        position: relative;
        margin-top: 100px;

        &::after {
            content: "";
            position: absolute;
            background: url("../../images/equipe.png");
            width: 185px;
            height: 186px;
            right: 0;
            bottom: -50px;
        }
    }

    &__link {
        background: $color__primary;
        color: $color__white;
        font-size: 20px;
        padding: 5px 50px;
        border-radius: 8px;
        display: inline-block;
        margin-top: 25px;
    }

    &__border {
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 45px;
    }
}

.TabControl{ 
    width:100%; 
    overflow:hidden; 
}

#content {
    margin-top: 40px;
}

.TabControl #header { 
    width:100%; 
    cursor:hand
}

.TabControl #content { 
    width:100%; 
    height:100%; 
}
    
.TabControl .abas{
    display: flex;

    @media (max-width: $screen-md) { 
        display: block
    }
}

.ativa span, .selected span { 
    color:#fff 
}

.TabControl .conteudo{
    width: 100%;
    display: none;
    height: 100%;
}

.aba.selected {
    .abas__item {
        background-color: transparent!important;
    }
    text-align:center;
    h2 {
        color: $color__medium-grey;
    }
}

.abas {
    &__item {
        cursor: pointer;
        @include transition(all .3s);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-position: center;
        width: 142px;
        height: 142px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        color: $color__white;
        background-color: $color__primary;
        
        @media (max-width: $screen-md) {
            background-image: none!important;
            background-image: none!important;
            width: auto;
            height: auto;
            padding: 10px;
        }

        h2 {
            font-size: 14px;
        }

        &:hover {
            background-blend-mode: normal;
            h2 {
                color: $color__medium-grey;
            }
        }

        &.one {
            background-image: url(../../images/equipe/01.png);
        }
        &.two {
            background-image: url(../../images/equipe/02.png);
        }
        &.three {
            background-image: url(../../images/equipe/03.png);
        }
        &.four {
            background-image: url(../../images/equipe/04.png);
        }
        &.five {
            background-image: url(../../images/equipe/05.png);
        }
        &.six {
            background-image: url(../../images/equipe/06.png);
        }
        &.seven {
            background-image: url(../../images/equipe/07.png);
        }
        &.eight {
            background-image: url(../../images/equipe/08.png);
        }
    }
}