.faq {
    &__content {
        margin-top: 70px;
    }
    
    &__listing {
        padding-bottom: 50px;
        border-bottom: 1px solid #DDDDDD;
        margin-bottom: 60px;

        h2 {
            font-size: 18px;
            color: $color__medium-grey;
            font-weight: 700;
            margin-bottom: 35px;

            span {
                color: $color__primary;
                font-size: 26px;
            }
        }
        
        p {
            font-size: 16px;
            font-weight: 300;
            color: $color__medium-grey;

        }
    }

    &__form {
        background: $color__primary;
        padding: 21px 15px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        color: $color__white;

        h2 {
            font-size: 28px;
            text-align: center;
            letter-spacing: 4px;
        }

        p {
            font-size: 20px;
            font-weight: 300;
            margin-top: 15px;
            margin-bottom: 20px;
            text-align: center
        }

        input {
            margin-bottom: 20px;

            &[type="submit"] {
                background: #A4E30F;
                text-align: center;
                border-radius: 8px;
                margin-top: 20px;
                width: 100%;

                &:hover{
                    opacity: .75;
                }
            }
        }
    }
}