.main {
    &__text {
        position: absolute;
        top: 65px;
        padding-left: 100px;

        h2 {
            font-size: 40px;
            font-weight: normal;
            color: $color__medium-grey;
            margin-bottom: 42px;
        }
        
        p {
            font-size: 20px;
            color: $color__medium-grey;
            margin-bottom: 45px;
        }

        a {
            background: $color__green;
            color: $color__white;
            padding: 10px 42px;
            border-radius: 8px;
            float: right;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
        }
    }
}

.main__banner {
    .banner_wrapper {
        width: 100%;
        height: 700px;
        position: relative;
        background: url(../../images/home/banner-home.png) center center no-repeat;
        background-size: cover;
    }

    .banner__description {
        left: 0;
        bottom: 0;
        position: relative;
        text-align: center;
        position: absolute;
        padding: 50px 65px 80px;
        background-color: #fff;
        max-width: 805px;
        width: 80%;

        &:before {
            top: -15px;
            left: 50%;
            content: "";
            width: 30px;
            height: 30px;
            position: absolute;
            background-color: $color__primary;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
        }

        .banner__title {
            font-size: 28px;
            margin-bottom: 45px;
            font-weight: normal;
            color: $color__primary;
            font-family: $secondaryFont;
        }

        .banner__subtitle {
            font-size: 18px;
        }
    }

    .banner__actions {
        bottom: 0;
        right: 0;
        width: 28%;
        position: absolute;
    }
}

.tip {
    background: url('../../images/home/dica.png');
    background-repeat: no-repeat;
    width: 50%;
    padding: 45px 0;
    display: inline-block;
    float: left;

    @media (max-width: $screen-sm + 1) {
        width: 100%;
        background: $color__primary;
        float: none;
    }

    form {
        padding-right: 40px;
        float: right;

        @media (max-width: $screen-sm + 1) {
            float: none;
            padding: 0 15px;
        }
    }

    h2 {
        font-size: 20px;
        color: $color__white;
        margin-bottom: 10px;
        font-weight: normal;
    }

    input[type="email"] {
        width: 248px;
        @media (max-width: $screen-sm + 1) {
            width: 50%;
        }

        @media (max-width: $screen-xs + 1) {
            margin-bottom: 5px;
            width: 100%
        }
    }

    input[type="submit"] {
        background-color: $color__green;
        text-transform: inherit;
        font-weight: normal;

        &:hover {
            opacity: .75;
        }
    }
}

.query {
    background: url('../../images/home/consulta.png');
    background-repeat: no-repeat;
    width: 50%;
    padding: 45px 0;
    position: relative;
    z-index: 3;
    display: inline-block;

    @media (max-width: $screen-sm + 1) {
        width: 100%;
        background: $color__green;
        float: none;
    }

    .content {
        padding-left: 40px;
        float: left;

        @media (max-width: $screen-sm + 1) {
            float: none;
            padding: 0 15px;
        }

        &::after {
            content: "";
            position: absolute;
            background: url("../../images/home/consulta-doc.png");
            width: 185px;
            height: 191px;
            bottom: 1px;
        }
    }

    h2 {
        font-size: 20px;
        color: $color__medium-grey;
        margin-bottom: 10px;
        font-weight: normal;
    }

    a {
        background: $color__secondary;
        color: $color__white;
        padding: 12px 56px;
        border-radius: 8px;
        display: inline-block;
        text-align: center;
    }

}

.hours {
    margin-top: 60px;
    
    &__box {
        border: 1px solid #DDDDDD;
        padding: 30px;
        display: inline-block;
        width: 100%;

        @include transition(all .3s);

        &:hover {
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
        }
    }

    &__title {
        h2{
            font-size: 30px;
            color: $color__medium-grey;
            font-weight: normal;
        }
    }

    &__info {
        text-align: center;
        h4 {
            font-size: 20px;
            color: $color__light-grey;
            font-weight: 100;
            margin-bottom: 30px;
        }

        p {
            font-size: 16px;
            color: $color__medium-grey;
        }
    }

    &__emergency {
        text-align: center;
        h4 {
            font-size: 20px;
            color: $color__light-grey;
            font-weight: 100;
            margin-bottom: 25px;
        }

        p {
            font-size: 16px;
            font-weight: bold;
            color: #BD1F37;
        }
    }

    &__img {
        position: absolute;
        top: -40px;
        left: 70px;

        @media (max-width: $screen-sm + 1) { 
            left: 50%;
            transform: translate(-50%, 0);
            width: 20%;
            top: 10px;
        }
    }
}

.services {
    margin-top: 80px;

    &__contain {
        margin-top: 100px;
        border-top: 1px solid #EEEEEE;
        padding-top: 28px;

        @media (max-width: $screen-sm + 1) { 
            margin-top: 50px;
            display: block;
        }

        .owl-nav {
            width: auto!important;
            top: -40px!important;
            right: 0!important;

            button.disabled {
                span {
                    color: #6B5C5C;
                }
            }

            span {
                font-size: 70px;
                color: $color__primary;
            }

            button.owl-prev span {
                padding: 0 2px;
            }
        }
    }

    &__item {
        background-blend-mode: multiply;
        height: 174px;
        width: 174px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        @media (max-width: $screen-sm + 1) { 
            width: 98%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:hover {
            background-blend-mode: normal;
            h2 {
                color: $color__medium-grey;
            }
        }

        h2 {
            @include transition(all .3s);
            font-size: 22px;
            color: $color__white;
            text-transform: uppercase;
        }

        span {
            font-size: 14px;
        }

        &.estetica {
            background-image: url(../../images/home/services-estetica.png);
            background-color: $color__estetica;
        }
        &.protese {
            background-image: url(../../images/home/services-protese.png);
            background-color: $color__protese;
        }
        &.implante {
            background-image: url(../../images/home/services-implante.png);
            background-color: $color__implante;
        }
        &.cirurgia {
            background-image: url(../../images/home/services-cirurgia.png);
            background-color: $color__cirurgia;
        }
        &.dental {
            background: url(../../images/home/services-dental.png);
            background-color: $color__dental;
        }
        &.periodontia {
            background-image: url(../../images/home/services-periodontia.png);
            background-color: $color__periodontia;
        }

        
    }
}

.blog {
    margin-top: 60px;
    padding-bottom: 0;

    &__listing {
        margin-top: 80px;
    }

    &__title {
        color: $color__medium-grey;
        font-size: 18px;
        margin-bottom: 25px;

        @media (max-width: $screen-xs + 1) { padding: 0 }
        
        &--large {
            font-size: 25px;
            margin-bottom: 35px;

            @media (max-width: $screen-xs + 1) { padding: 0 }
        }
    }
    
    &__author {
        font-size: 12px;
        color: #BABABA;
        font-weight: 700;
        margin-bottom: 32px;
    }
    
    &__text {
        font-size: 16px;
        font-weight: 300;
        color: $color__medium-grey;
        text-align: justify;

        @media (max-width: $screen-xs + 1) { padding: 0 }
        
        &--large {
            padding-right: 0
        }
        
    }
    
    &__link {
        font-size: 14px;
        color: $color__primary;
        font-weight: 700;
        float: right;
        margin-top: 10px;

        @media (max-width: $screen-xs + 1) { padding: 0 ; margin-bottom: 20px }

        &--large {
            padding-right: 0
        }

        &-page {
            background: #222222;
            border-radius: 8px;
            color: $color__white;
            font-size: 20px;
            padding: 10px;
            display: inline-block;
            margin-top: 65px;
        }
    }

    &__content {
        border-top: 1px solid #DDDDDD;
        padding-top: 42px;
        margin-top: 45px;
    }

    img {
        @include transition(all 0.5s);

        &:hover {
            opacity: .8;
        }
    }

}