.travel {

    &__listing {
        padding-bottom: 50px;
        margin-bottom: 60px;
        
        h2 {
            font-size: 25px;
            color: $color__medium-grey;
            font-weight: 700;
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid #DDDDDD;

            &.header {
                margin-top: 60px;
            }
        }

        h3 {
            font-size: 18px;
            color: $color__medium-grey;
            font-weight: 700;
            margin-bottom: 40px;
        }
        

        p {
            font-size: 16px;
            font-weight: 300;
            color: $color__medium-grey;
            margin-bottom: 30px;

        }

        span {
            color: $color__primary;
            font-size: 18px;
            font-weight: 700;
        }
    }

    &__form {
        padding: 21px 15px;
        color: $color__white;
        position: relative;

        @media (max-width: $screen-md) {
            padding: 0;
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url("../../images/aside/bg-form.png");
            background-position: right;
            width: 676px;
            height: 631px;
            top: 0;
            z-index: -1;

            @media (max-width: $screen-md) {
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
            }

        }

        form {
            position: relative;
            z-index: 9;
            padding: 20px;
        }

        p {
            font-size: 20px;
            font-weight: 300;
            margin-top: 15px;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        input {
            margin-bottom: 20px;

            &[type="submit"] {
                background: #A4E30F;
                text-align: center;
                border-radius: 8px;
                margin-top: 20px;
                width: 100%;

                &:hover{
                    opacity: .75;
                }
            }
        }
    }
}

.list__number {
    display: flex;

    span {
        margin-right: 15px;
    }
}