.btn {
    border: 0;
    outline: 0;
    max-width: 100%;
    font-size: 17px;
    font-weight: 700;
    padding: 13px 20px;
    display: inline-block;
    text-transform: uppercase;

    @include transition(all 0.5s);

    @media (max-width: $screen-xs) {
        width: 100%;
        text-align: center;
    }

    &-primary {
        color: $color__white;
        background-color: $color__primary;

        &:hover {
            background-color: darken($color__primary, 8%);
        }
    }

    &-secondary {
        color: $color__light-green;
        border: 1px solid $color__light-green;

        &:hover {
            color: $color__white;
            background-color: $color__light-green;
        }
    }

    &-read-more {
        font-size: 17px;
        font-weight: 700;
        position: relative;
        color: $color__primary;

        &:before {
            left: 0;
            width: 0;
            bottom: -8px;
            content: "";
            height: 5px;
            position: absolute;
            background-color: $color__primary;

            @include transition(width 0.5s);
        }

        &:hover {
            opacity: 1;

            &:before {
                width: 85%;
            }
        }
    }

    &-mobile {
        // top: 15px;
        // left: 15px;
        width: 40px;
        height: 35px;
        z-index: 12;
        display: block;
        position: relative;
        // position: fixed;
        color: $color__white;
        background-color: $color__primary;
        box-shadow: inset 0 2px 0 darken($color__primary, 5%);
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;

        span {
            top: 16px;
            left: 18%;
            height: 2px;
            font-size: 0;
            width: 65%;
            position: absolute;
            background-color: $color__white;

            &:before,
            &:after {
                -webkit-transition: all .2s ease-out;
                width: 100%;
                position: absolute;
                height: 100%;
                background-color: $color__white;
                content: '';
            }

            &:before {
                top: 7px;
            }

            &:after {
                top: -7px;
            }
        }

        &.is-active {
            span {
                color: transparent;

                &:before,
                &:after {
                    width: 50%;
                }

                &:before {
                    top: 5px;
                    transform: rotate(40deg);
                    -webkit-transform: rotate(40deg);
                }

                &:after {
                    top: -5px;
                    transform: rotate(-40deg);
                    -webkit-transform: rotate(-40deg);
                }
            }
        }
    }

    &-book-now {
        font-size: 18px;
        font-weight: 700;
        padding: 10px 18px;
        text-align: center;
        text-transform: uppercase;
        background-color: $color__white;
        border: 3px solid $color__primary;
        color: $color__primary;

        &:hover {
            color: $color__white;
            background-color: $color__primary;
        }
    }

    &-call-to-book {
        font-size: 28px;
        display: block;
        height: 120px;
        line-height: 120px;
        position: relative;
        text-align: center;
        color: $color__white;
        background-color: #fec63f;
        text-transform: uppercase;

        &:hover {
            opacity: 1;
            background-color: lighten(#fec63f, 8%);
        }

        &:before {
            top: 4px;
            content: "";
            width: 30px;
            height: 30px;
            margin-right: 25px;
            position: relative;
            display: inline-block;
            background: url(../../images/spritesheet.png) -283px -112px no-repeat;
        }

        &:after {
            top: 12%;
            left: 4%;
            width: 92%;
            height: 76%;
            content: "";
            position: absolute;
            border: 1px solid $color__white;
        }

        @media (max-width: $screen-xs) {
            font-size: 22px !important;

            &:before {
                top: 5px;
                margin-right: 10px;
            }
        }
    }

    &-curriculum {
        font-size: 13px;
        padding: 3px 20px;
        font-weight: 700;
        color: $color__white;
        border: 1px solid $color__white;

        &:hover {
            color: $color__primary;
            background-color: $color__white;
        }
    }

    &-submit {
        width: 100%;
        font-weight: 600;
        padding-top: 9px;
        padding-bottom: 9px;
        background-color: $color__secondary;

        &:hover {
            background-color: darken($color__secondary, 5%);
        }
    }

    &-share {
        color: #fff;
        width: 45px;
        height: 45px;
        display: table;
        margin-top: 25px;
        text-align: center;
        background-color: #0094da;

        > i {
            display: table-cell;
            vertical-align: middle;
            transition: all .3s;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
        }

        &:hover {
            background-color: lighten(#0094da, 15%);

            > i {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
            }
        }
    }
}