.main__footer {
    margin-top: 35px;
    padding: 65px 0 35px;
    color: $color__white;
    background-color: #252935;

    .container {
        padding-right: 40px;
        padding-left: 40px;
    }

    @media (min-width: $screen-md + 1) {
        .footer__block-1 {
            @include clearfix;

            min-height: 268px;
            padding-right: 40px;
            border-right: 1px solid #343844;
        }

        .footer__block-2 {
            text-align: center;
        }

        .trip-advisor {
            width: 11%;
        }

        .footer__block-3 {
            padding-left: 40px;
            border-left: 1px solid #343844;
        }
    }

    @media (max-width: $screen-md) {
        img {
            max-width: 150px;
            margin-top: 25px;
        }
    }

    .block__social {
        margin-bottom: 25px;
        padding-bottom: 30px;
        border-bottom: 1px solid $color__white;

        .social__listing {
            @include clearfix;

            li {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 3px;
                }
            }
        }
    }

    .block__newsletter {
        @include clearfix;

        .block__title {
            display: block;
            font-size: 18px;
            margin-bottom: 15px;
        }

        .block__subtitle {
            font-size: 14px;
        }

        .form__newsletter {
            margin-top: 30px;

            ::-webkit-input-placeholder {
                color: $color__white;
            }

            ::-moz-placeholder {
                color: $color__white;
            }

            :-ms-input-placeholder {
                color: $color__white;
            }

            :-moz-placeholder {
                color: $color__white;
            }

            label[for="newsletter_email"] {
                width: 80%;
                float: left;
                display: block;
                margin-right: 1%;
            }

            input[type="email"] {
                background-color: transparent;
                border: 1px solid $color__white;
            }

            .btn-newsletter {
                width: 19%;
            }
        }
    }

    .block__hotels {
        .hotel__item {
            &:last-of-type {
                margin-top: 43px;
            }

            h2 {
                font-size: 12px;
                margin-bottom: 15px;
            }

            a {
                font-size: 13.5px;
                color: $color__white;
            }

            .info__contact {

                li {
                    margin-bottom: 5px;
                    white-space: nowrap;
                }

                .click-to-call {
                    line-height: 14px;
                    margin-bottom: 10px;

                    a {
                        font-size: 12px;
                        font-weight: 600;
                    }
                }

                .fa {
                    margin-right: 8px;
                }

                .fa-whatsapp {
                    color: #12970a;
                }
            }
        }
    }

    .footer__nav {
        text-align: right;
        margin-top: 60px;
        padding-top: 30px;
        border-top: 1px solid #343844;

        a {
            color: $color__white;

            &:not(:last-child) {
                &:after {
                    content: "|";
                    margin: 0 5px;
                }

                @media (max-width: $screen-xs) {
                    &:after {
                        display: none;
                    }

                    display: block;
                }
            }

            &:hover {
                color: #606982;

                &:after {
                    color: $color__white;
                }
            }
        }
    }
}