input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 12px;
    outline: none;
    background-color: #eee;
    border: 1px solid #d3d3d3;

    @include transition(all 0.5s);

    &:hover {
        border-color: $color__primary;

    }

    &:focus {
        background-color: darken(#eee, 2%);
        border-color: darken($color__primary, 3%);
    }
}

textarea {
    height: 150px;
    resize: none;
}

.contact__form {
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 14px;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 14px;
        text-transform: lowercase;
    }

    :-ms-input-placeholder {
        /* IE 10+ */
        font-size: 14px;
        text-transform: lowercase;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        font-size: 14px;
        text-transform: lowercase;
    }

    .form__fields {
        label {
            display: block;
            text-transform: lowercase;
            margin-bottom: 20px;
        }
    }
}