.block__section {
    margin-top: 110px;
    padding-bottom: 95px;

    &:not(:last-child) {
        border-bottom: 1px solid $color__light-grey;
    }

    .section__title {
        font-size: 28px;
        font-weight: 400;
        text-align: center;
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 50px;
        font-family: $secondaryFont;
        color: $color__medium-grey;
        text-transform: uppercase;

        &:before {
            left: 50%;
            bottom: 20px;
            height: 2px;
            content: "";
            width: 50px;
            position: absolute;
            margin-left: calc(-50px/2);
            background-color: $color__primary;
        }
    }

    .section__actions {
        margin-top: 20px;
        text-align: center;
    }
}

.block__aside {
    margin-bottom: 50px;

    h3 {
        font-size: 20px;
        font-weight: 700;
        position: relative;
        margin-bottom: 35px;
        font-family: $secondaryFont;
    }

    &.block__most-readed {
        article {
            margin-bottom: 40px;
        }

        .post__details {
            @include clearfix;
        }

        .post__thumbnail {
            float: left;
            margin-right: 15px;
        }

        .post__title {
            height: 65px;
            overflow: hidden;

            a {
                font-size: 14px;
                line-height: 1.2;
                color: $color__secondary;
            }
        }
    }
}

.block__social {
    h2 {
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 10px;
    }

    .social__listing {
        li {
            float: left;
            background-color: #3c404b;

            @include transition(all 0.3s);

            &:not(:last-child) {
                margin-right: 5px;
            }

            &:hover {
                background-color: darken(#3c404b, 5%);
            }
        }

        a {
            color: $color__white;
            padding: 4px 0 8px;
            text-align: center;
            font-size: 18px;
            display: block;
            width: 40px;
        }
    }
}