.main-header {
    padding: 20px 0;

    .header__logo {
        img {
            max-width: none;
        }
    }

    @media (min-width: $screen-sm + 1) {
        .header__nav {
            z-index: 1;
            position: relative;

            @include clearfix;

            li {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 3.4%;
                }

                > a:not(.btn-book-now) {
                    display: block;
                    font-size: 14px;
                    text-align: center;
                    position: relative;
                    text-transform: uppercase;

                    &:before {
                        left: 0;
                        width: 0;
                        content: "";
                        height: 2px;
                        bottom: -5px;
                        position: absolute;
                        background-color: $color__primary;

                        @include transition(width 0.5s);
                    }

                    &:hover {
                        &:before {
                            width: 80%;
                        }
                    }
                }
            }

            .check-in {
                right: 0;
                top: -30px;
                color: #01858a;
                font-size: 14px;
                font-weight: 700;
                position: absolute;
            }

            .header__mobile-trigger {
                display: none;
            }
        }
    }

    @media (max-width: $screen-md) {
        .header__nav {
            top: -80px;
            left: 0;
            right: 0;
            z-index: 11;
            padding: 15px;
            display: none;
            text-align: center;
            position: absolute;
            background-color: $color__white;

            transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
            -webkit-transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
            -moz-transition: transform 0.5 cubic-bezier(0.22, 0.61, 0.36, 1) s;

            &.is-active {
            }

            li {
                &:not(:last-child) {
                    margin-right: 0;
                    border-bottom: 1px solid #f4f4f4;
                }

                > a:not(.btn-book-now) {
                    padding: 8px;
                    font-size: 18px;
                    display: inline-block;
                    text-transform: none;

                    &:before {
                        left: 0;
                        width: 0;
                        content: "";
                        height: 2px;
                        bottom: 5pxx;
                        position: absolute;
                        background-color: $color__primary;

                        @include transition(width 0.5s);
                    }
                }
            }

            .check-in {
                display: none;
            }

            .btn-book-now {
                margin-top: 15px;
                width: 150px;
            }
        }
    }

    .info__contact {
        position: relative;

        &:before,
        &:after {
            top: 50%;
            left: -15%;
            height: 1px;
            width: 115%;
            content: "";
            z-index: -1;
            position: absolute;
            background-color: #eee;
        }
    }

    .contact__list {
        padding: 8px;
        margin-left: 8%;
        display: inline-block;
        background-color: $color__white;

        li {
            display: inline-block;

            &:not(:last-child) {
                &:after {
                    content: "|";
                    margin: 0 5px 0 10px;
                }
            }
        }

        a {
            font-size: 13px;
            font-weight: 600;
            color: $color__primary;
        }

        i {
            font-size: 18px;
            margin-right: 10px;
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
        }
    }
}

.internal-header {
    display: table;
    margin-bottom: 45px;
    width: 100%;
    padding: 5px 50px;
    background-color: $color__secondary;

    .block__page-title {
        font-size: 28px;
        font-weight: normal;
        color: $color__white;
        font-family: $secondaryFont;
    }

    .block__breadcrumb {
        text-align: right;
        display: table-cell;
        vertical-align: middle;

        li {
            font-size: 14px;
            display: inline-block;
            color: $color__white;

            &:not(:last-child) {
                &:after {
                    content: ">";
                    font-size: 13px;
                    margin: 0 5px 0 10px;
                }
            }

            &.is-active {
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        a {
            color: $color__white;
        }
    }
}