.paginator {
	margin-top: 18px;
	text-align: center;

	&__item {
		float: left;
		width: 65px;
		height: 60px;
		border: 1px solid #f2f2f2;

		&:not(:first-child){
			border-left: 0;
		}

		&.is-active {
			a {
				font-weight: 600;
				color: $color__primary;
			}
		}

		a {
			padding: 20px;
			display: block;
			@include transition(color .3s);

			&:hover {
				font-weight: 600;
				color: $color__primary;
			}
		}
	}
}